body{
  background-image: url("../assets/bs.jpg");
}

.css{
  background-color: #EE9FCE;
  border:2px solid #35639D;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  margin-top:20px;
}
